<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
 <mapper namespace="org.tarena.note.dao.ShareMapperDao">
 	<insert id="insertShare" parameterType="org.tarena.note.entity.Share">
 		insert into cn_share set cn_share_id=#{cn_share_id},cn_share_title=#{cn_share_title},cn_share_body=#{cn_share_body},cn_note_id=#{cn_note_id}
 	</insert>
 	
 	<select id="findById" parameterType="string" resultType="org.tarena.note.entity.Share">
 		select * from cn_share where cn_note_id=#{id}
 	</select>
 	
 	<select id="findShareNote" parameterType="org.tarena.note.entity.SearchBean" resultType="map">
 		select cn_share_id,cn_share_title from cn_share where cn_share_title like #{title} limit #{begin},10
 	</select>
 </mapper>