<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
 <mapper namespace="org.tarena.note.dao.NoteMapperDao">
 	<select id="findByBookId" parameterType="string" resultType="map">
 		select cn_note_id,cn_note_title from cn_note where cn_notebook_id=#{bookId} and cn_note_status_id=1 order by cn_note_create_time desc
 	</select>
 	
 	
 	<select id="findByNoteId" parameterType="string" resultType="org.tarena.note.entity.Note">
 		select * from cn_note where cn_note_id=#{cn_note_id}
 	</select>
 	
 	<insert id="insertNote" parameterType="org.tarena.note.entity.Note">
 		insert into cn_note(cn_note_id,cn_notebook_id,cn_user_id,cn_note_status_id,cn_note_type_id,cn_note_title,cn_note_body,cn_note_create_time,cn_note_last_modify_time)  
 		values(#{cn_note_id},#{cn_notebook_id},#{cn_user_id},#{cn_note_status_id},#{cn_note_type_id},#{cn_note_title},#{cn_note_body},#{cn_note_create_time},#{cn_note_last_modify_time})
 	</insert>
 	
 	<select id="findByIdAndTitle" parameterType="org.tarena.note.entity.Note" resultType="org.tarena.note.entity.Note">
 		select * from cn_note where cn_user_id=#{cn_user_id} and cn_notebook_id=#{cn_notebook_id} and cn_note_title=#{cn_note_title}
 	</select>
 	
 	
 	<update id="updateNoteBody" parameterType="org.tarena.note.entity.Note">
 		update cn_note set cn_note_body=#{cn_note_body},cn_note_title=#{cn_note_title},cn_note_last_modify_time=#{cn_note_last_modify_time} where cn_note_id=#{cn_note_id}
 	</update>
 	
 	<select id="findNoteByIdAndTitle" parameterType="org.tarena.note.entity.Note" resultType="org.tarena.note.entity.Note">
 		select * from cn_note where cn_notebook_id=#{cn_notebook_id} and cn_note_title=#{cn_note_title}
 	</select>
 	
 	<update id="updateStatus" parameterType="org.tarena.note.entity.Note">
 		update cn_note set cn_note_status_id=#{cn_note_status_id},cn_note_last_modify_time=#{cn_note_last_modify_time} where cn_note_id=#{cn_note_id}
 	</update>
 	
 	
 	<select id="findHuiShouZhan" parameterType="string" resultType="org.tarena.note.entity.Note">
 		select * from cn_note where cn_user_id=#{cn_user_id} and cn_note_status_id is null order by cn_note_last_modify_time desc
 	</select>
 	
 	<update id="updateById" parameterType="org.tarena.note.entity.Note">
 		update cn_note set cn_notebook_id=#{cn_notebook_id},cn_note_create_time=#{cn_note_create_time} where cn_note_id=#{cn_note_id}
 	</update>
 	
 	<delete id="deleteNote" parameterType="string">
 		delete from cn_note where cn_note_id=#{noteId}
 	</delete>
 	
 	<update id="updateBookId" parameterType="org.tarena.note.entity.Note">
 		update cn_note set cn_notebook_id=#{cn_notebook_id},cn_note_create_time=#{cn_note_create_time},cn_note_status_id=1 where cn_note_id=#{cn_note_id}
 	</update>
 	
 	
 	<select id="findNotes" parameterType="org.tarena.note.entity.NoteBean" resultType="org.tarena.note.entity.Note">
 		select * from cn_note
 		<where>
 			<if test="title!=null">
 				and cn_note_title like #{title} 
 			</if>
 			<if test='status!="0"'>
 				and cn_note_status_id like #{status}
 			</if>
 			<if test="begindate!=null">
 				and cn_note_create_time >=#{begindate}
 			</if>
 			<if test="enddate!=null">
 				and cn_note_last_modify_time &lt;=#{enddate}
 			</if>
 		</where>
 	</select>
 	
 	<update id="updateNote" parameterType="org.tarena.note.entity.Note">
 		update cn_note 
 		<set>
 			<if test="cn_notebook_id!=null">
 				cn_notebook_id=#{cn_notebook_id},
 			</if>
 			<if test="cn_user_id!=null">
 				cn_user_id=#{cn_user_id},
 			</if>
 			<if test="cn_note_status_id!=null">
 				cn_note_status_id=#{cn_note_status_id},
 			</if>
 			<if test="cn_note_type_id!=null">
 				cn_note_type_id=#{cn_note_type_id},
 			</if>
 			<if test="cn_note_title!=null">
 				cn_note_title=#{cn_note_title},
 			</if>
 			<if test="cn_note_body!=null">
 				cn_note_body=#{cn_note_body},
 			</if>
 			<if test="cn_note_create_time!=null">
 				cn_note_create_time=#{cn_note_create_time},
 			</if>
 			<if test="cn_note_last_modify_time!=null">
 				cn_note_last_modify_time=#{cn_note_last_modify_time} 
 			</if>
 		</set>
 		where cn_note_id=#{cn_note_id}
 	</update>
 	
 	<delete id="deleteNotes">
 		delete from cn_note where cn_note_id in
 		<foreach collection="array" item="noteId" open="(" close=")" separator="," >
 			#{noteId}
 		</foreach> 
 	</delete>
 	
 	<select id="findAll" resultMap="noteMap">
 		select * from cn_note note join cn_notebook book on(note.cn_notebook_id=book.cn_notebook_id)
 	</select>
 	<resultMap type="org.tarena.note.entity.Note" id="noteMap">
 		<id property="cn_note_id" column="cn_note_id"/>
 		<result property="cn_note_id" column="cn_note_id"/>
 		<result property="cn_note_title" column="cn_note_title"/>
 		<association property="book" javaType="org.tarena.note.entity.NoteBook" column="cn_notebook_id">
 			<id property="cn_notebook_id" column="cn_notebook_id"/>
 			<result property="cn_notebook_name" column="cn_notebook_name"/>
 		</association>
 	</resultMap>
 	
 </mapper>